<article id="" class="container mb-4 ">
    <div class="row">
        <div class="col-sm-3">
            <img class="imagen" src="https://static.wikia.nocookie.net/esstarwars/images/1/15/Luke_Skywalker_Ep_7_SWCT.png/revision/latest/scale-to-width-down/350?cb=20170215060145" alt="">
        </div>      
        <div class="col">
            <div class="row">
                <div id="Nombre" class="col">
                    <h2>Luke Skywalker</h2>
                </div>
            </div>             
                <div class="row">
                    <div id="Personal" class="col-sm-6">
                            <p>
                                    Altura: 
                            </p>
                            <p>
                                    Peso:
                            </p>
                            <p>
                                    Género
                            </p>
                    </div>
                    <div id="Terceros" class="col">
                        <p>Naves</p>
                        <p>Vehículos</p>
                        <p>Películas</p>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="row ">
        <div id="Colores" class="col-sm-6">
            <p>
                Color de pelo: 
            </p>
            <p>
                Color de piel:
            </p>
            <p>
                Color de ojos:
            </p>
        </div>
        <div id="Años" class="col">
            <p>
                Año de nacimiento: 
            </p>
            <p>
                Planeta de origen:
            </p>
        </div>
    </div>
</article>
<script src="../Js/Character.js"></script>